/* main style */
body{
    background: black;
}

/* Navigation bar */
.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: black;
    border-radius: 1rem;
    text-align: center;
}
.menu{
    margin: 1rem;
}
.menu ul{
    margin: 0;
}
.menu li{
display: inline;
float: right;
}
.logo img{
    float: left;
    margin: 1rem;
}
.button{
    height: 3rem;
    width: 5rem;
    background-color: yellow;
    border-radius: 1rem;
    text-align: center;
}
.button button{
    padding-top: 1rem;
    background: none;
    border:none;
}
/* head section */
.head{
    text-align: center;
    background-image: url("../img/waves.png");

}
h1{
    color: grey;
}
p{
    color: grey;
    margin: 0 7rem 1rem 7rem;
}
span{
    color: aqua;
}
.span1{
    color: #FFFFFF;
}
.yello{
    background-color: yellow;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    width: 9rem;
    height: 3rem;
    font-weight: 600;
}
.transp{
    background-color: #d3d3d3;
}